$headerHeight: 72px;

.full-height {
  height: calc(var(--vh, 1vh) * 100);
}

.outline-none {
  box-shadow: none !important;
  outline:0;
}

.lang-position {
  right:.5rem;
  top:.5rem;
  color: #000;
  z-index:2;
}

.cursor-pointer {
  cursor:pointer;
}

.content {
  height: calc(100vh - #{$headerHeight});
  min-height: calc(100vh - #{$headerHeight});
}

button:focus {
  box-shadow: none !important;
}