.full-height {
  height: calc(var(--vh, 1vh) * 100);
}

.outline-none {
  box-shadow: none !important;
  outline:0;
}

.lang-position {
  right:5rem;
  top:2rem;
  color: #000000;
}

.cursor-pointer {
  cursor:pointer;
}